body{
    margin: 0;
}

/* main container css starts */

.container{
background-image: url("images/background.svg");
background-repeat: no-repeat;
background-size: 100% ;
display: flex;
background-color:  hsl(225, 100%, 94%);
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}

/* main container css ends */


/* main coluum layout css starts */
.colume1{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px solid black;
    
    background-color: white;
    box-shadow: 0px 10px 50px  hsl(224, 23%, 55%);
}

.image{
    display: flex;
    flex-direction: column;
    width: 400px;
    
    

    
}
.imgs{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  
}


/* mai colum css layout end */

/* inner colum css starts */

.innerrow{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.innerow2{
    margin: 0px 50px 0px 50px;
}

.headding{
    font-weight: 900;
    font-family: 'Red Hat Display', sans-serif;;
    padding-top: 20px;   
}

.para1{
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;;
    font-weight: 500;
}


.innerrow3{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

.annualplan{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;;
    margin-right: 45px;
}

.Anualfont{
font-size: 16px;
}

.iconmusic{
    margin-right: 18px;
}
.change{
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;;
    color:  hsl(245, 75%, 52%)

}
.atag{
    margin-bottom: 20px;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
}

/* inner row css ends */


/* button css starts */

.buttonrow{
    align-items: center;
display: flex;
flex-direction: column;
}

.btn{
    
    background-color:  hsl(245, 75%, 52%);
    color: white;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    box-shadow: 0px 10px 50px  hsl(224, 23%, 55%);
}


.btn:hover {
    background-color: hsl(224, 23%, 55%);
  }


/* button css starts ends */

@media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        background-image: url("images/pattern-background-mobile.svg");
        height: 100vh;
        width: 100vw;

    }
  }

  @media (max-width: 416px) {
    .image{
        width: 370px;

    }
  }







  


